bs4==0.0.1
conda==4.14.0
conda-build==3.21.8
chainer==7.8.1
cufflinks==0.17.3
garch==0.1
keras==2.9.0
Keras-Preprocessing==1.1.2
numpy==1.21.5
pandas==1.4.3
pandas-datareader==0.10.0
pmdarima==1.8.5
prophet==1.1
matplotlib==3.3.4
lxml==4.8.0
plotly==5.6.0
statsmodels==0.13.2
statsforecast==0.7.1
streamlit==1.11.0
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
tqdm==4.64.0
yfinance==0.1.74